html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cuswhite{
	color: #fff;
}

svg{
	position: absolute;
	z-index: -1;
}

.navigation{
	padding-top: 1.7em;
}

.navlinking{
	color: #0A2157;
	font-weight: bold;
	/*line-height: 2.4em;*/
}

.navlinking:hover{
	color: #6C63FF;
	text-decoration: none;
}

.iconlink:hover{
	color: #FFB8B8;
}

.content{
	font-size: 1.2em;
	color: #0A2157;
}

.starting{
	margin-top: 6em;
}

h1, h2, h3{
	color: #0A2157;
	font-weight: 700;
}

.customsize1{
	margin-bottom: 0.7em;
}

.topic2{
	margin-top: 12em;
}

.customsize{
	line-height: 0.3em;
}

button.collapsible{
	background-color: #FFB8B8;
  	color: #0A2157;
	cursor: pointer;
	padding: 0.3em;
	padding-left: 1em;
	width: 100%;
	border: 2px solid #FFB8B8;
	text-align: left;
	outline: none;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

button.collapsible:after{
	content: '\002B';
	color: #0A2157;
	font-size: 1.5em;
	font-weight: bolder;
	float: right;
	padding-right: 0.3em;
	line-height: 0.7em;
}

button.collapsible.active{
	border-radius: 20px 20px 0px 0px;
}

button.collapsible.active:after{
	content: '\2212';	
}

.btncontent{
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #FFB8B8;
	color: #0A2157;
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	font-size: 1.2em;
}

#svgelem{
	position: relative;
	left: 10%;
	-webkit-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
	transform: translateX(-20%);
}

.specific{
	background-color: #575A89;
	color: #fff;
	opacity: 50%;
	font-weight: bold;
	border: 2px solid #575A89;
	border-radius: 20px;
	margin-y: 2px;
}

.overlay{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background: transparent;
	transition: all 0.5s ease-in-out;
}

.wrap{
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background: #0A2157;
	margin-top: 90px;
	opacity: 0.75;
	border: 2px solid #0A2157;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	box-shadow: 20px 20px 30px 10px #9BA4BA;
}

.open{
	border: 2px solid #FFD1CC;
	background-color: #FFD1CC;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color: #0A2157;
	font-weight: bold;
	font-size: 1.1em;
}

.closebtn{
	line-height: 0.1em;
	padding-down: 0;
	float: right;
	font-size: 2.3em;
	cursor: pointer;
	color: #000;
}

.closebtn:hover{
	color: #ccc;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    /*width: 5px;*/
    display: none;
  }
  
  /* Track */
  /*::-webkit-scrollbar-track {
    
    background: #0A2157;
  }*/
  
  /* Handle */
  /*::-webkit-scrollbar-thumb {
    background: #FFB8B8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

*/